body{
  font-family: "Montserrat";
}



#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 10% 7%;
}


div.row{
  padding: 80px 40px;
  font-size: 55px;

}



h1{
  font: "Montserrat-black";
  font-size: 60px;
  line-height: 1.5;
  color: white;
}
h2{
font-family: "Montserrat-bold";
font-size: 3rem;
line-height: 1.5;
}

h3{
  font-family: "Montserrat-bold";
}
p{
  font-size: 15px;
}

.navbar{
  padding: 30px 30px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}


.Download-button{
  margin: 15px 15px;
}

.title-img{
  width: 25%;
  transform: rotate(25deg);
  position: absolute;

}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}
.features-box{
  text-align: center;
  padding: 4.5%;
}
.icon{
  padding-bottom: 30px;
  color: #ef8172;

}
.icon:hover{
  color:#ff4c68;
}
/*testimonials section*/
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align:center;
  padding-bottom: 2%;

}
.press-logo{
  width: 12%;
  margin: 20px 20px 40px;
}

.carousel-item{
    padding: 7% 15%;
}
/*pricing section*/
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}


@media(max-width:1028px) {

#title{
  text-align: center;
}

.title-img{
  width: 100%;
  position: static;
  transform: rotate(0);
}
}

#cta{

  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}
.cta-heading{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  text-align:center;
  background-color: #fff;
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}
